*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    list-style: none;
}
:root{
    --bg-color:  #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}
body{
 min-height: 100vh;
 background: #474a57;
 color: var(--text-color);
 overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 28px 12%;
    transition: all .50s ease;
    overflow-y: hidden;
}
.logo{
    display: flex;
    align-items: center;
}
.icon{
    background: url('img/FLG.png');
    height: 10%;
    width: 10%;
    display: flex;
    font-size: 28px;
    margin-right: 7px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
    align-items: center;
    
}
.navbar .form-control{
    width: 620px;
    height: 50px;
    border-radius: 20px;
}
.form-control::placeholder{
    padding-left: 15px;
}
input[placeholder] {
    text-align: center;
 }
.ri-search-2-line{
    margin-right: 5px;
}
.btn {
    height: 50px;
    width: 80px;
    font-size: 12px;
    border-radius: 30px;
    background: var(--main-color);
}
.basket{
    align-items: center;
    overflow-y: hidden;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition:all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display:flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size:1.1rem;
    font-weight: 500;
    transition:all .50s ease ;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right:7px;
}
.main a:hover{
    color: var(--main-color);
}
@media(max-width: 1440px){
    header{
        padding :14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media(max-width:1010px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position:absolute;
        top:100%;
        right: 40%;
        width:270px;
        height: 10vh;
    }
    .btn{
        width:99%;
        height: 5vh;
        background: var(--main-color);
    }
}
@media(max-width: 1700px){
    .navbar .form-control{
        width: 380px;
    }
}
.main-block {
    width: 50%; 
    height: 600px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 10px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb;
    position: relative;
    top: 130px; 
    }
h1{
   color: #222327;
   text-align: center;
}
h3{
  text-align: center;
  color: crimson;
}
.form-group {
    margin-bottom: 15px;
  }

  #name{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
    margin-left: 75px;
    
  }
  #surname{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }
  #email{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #tel{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }
  #username{
    width: 81%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
  }
  #password{
    width: 35%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #confirm_password{
    width: 35%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }
  #role{
    width: 35%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #storename{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #storeaddress{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }
  #tub{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #kate{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }
  #jak{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 75px;
    display: inline-block;
  }
  #zip{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: inline-block;
  }

  .form-group button {
    width: 50%;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  .seller-fields {
    display: none;
  }

  .seller-fields .form-group {
    margin-top: 10px;
  }